{% extends "includes/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="text-center">QR CODE GENERATOR</h1>
            <div class="card">
                <div class="card-body">
                    <form action="{{ url_for('generation') }}" method="post">
                        <fieldset class="form-group">
                            <legend>Input Data</legend>
                            {{ form.hidden_tag() }}
                            <table class="table table-borderless table-hover">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="align-middle text-right">{{ form.name.label }}</th>
                                        <td>{{ form.name(class_="form-control") }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="align-middle text-right">{{ form.course.label }}</th>
                                        <td>{{ form.course(class="form-control") }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="align-middle text-right">{{ form.date.label }}</th>
                                        <td>{{ form.date(class="form-control") }}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td >{{ form.generate(class_="btn btn-info") }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </form>    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}